<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>便利贴</title>
</head>
<body>
  <div id="header">
    <a href="#" class="add-note" title="添加笔记"><span class="fa fa-plus"></span>添加</a>
    <ul class="user-area">
      <li><a class="login" title="GitHub登录" href="/auth/github"> GitHub登录</a></li>
    </ul>
  </div>
  <div id="content"></div>
  <div class="stars"></div>
  <script src="/js/index.js"></script>
</body>
</html>