html,body{
    margin: 0;
    min-height: 100%;
    min-width: 1000px;
    background: #CBCCCB;
    font-family: 'SimHei','STHeiti',Arial, Helvetica,sans-serif;
  }
  ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
    font: 14px/1.4 'Arial';
  }
  a{
    text-decoration: none;
    color: #111C29;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
  #header {
    position: fixed;
    top:0;
    z-index: 2;
    width: 100%;
    min-width: 800px;
    font-size: 14px;
    background:#D94452;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    .webTitle{
      .logo{
        display: inline-block;
        height:40px;
        width: 40px;
        background:url('../img/logo.png') center;
        background-size:cover;
        margin-right: 16px;
      }
      font-size: 24px;
      margin: 16px 72px;

    }
    .icon {
      width: 1.8em; height: 1.8em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
      margin-right: 10px;
   }
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    .user-area {
      margin-right: 100px;
      padding: 6px 14px;
      display: flex;
      align-items: center;
      li {
        color: white;
        span {
          display: block;
        }
      }
      .login-wrapper{
        display: flex;
        align-items: center;
        margin-right: 10px;
        background: #d98787;
        padding: 5px 18px 5px 8px;
        border-radius: 20px;
        
      }
      .avatar{
        display: flex;
        img {
          height: 24px;
          border-radius: 50%;
        }
      }
      .username{
        margin:0 10px;
      }         
      .logout-wrapper{
        border-left: 2px solid white;
        padding: 0 10px;    
        a{
          color:white;
        }
      }   

    }

    .setting{
      float: right;
      margin-left: 9px;
      display: none;
    }
    .login{
      float: right;
      color:white;
    }
    .add-note{
      position: absolute;
      top: 36px;
      right: 50px;
      .icon{
        border-radius: 50%;
        background:#D94452;
        margin: 0px;
        border-radius: 50%;
        width: 50px; height: 50px;
        vertical-align: -0.15em;
        overflow: hidden;
      }
    }
  }

.contentWrapper{
  margin-top:100px;

}
  #content{
    margin: 20px 60px;
    position: relative;
    height: -webkit-calc(100% - 30px);
    height: calc(100vh);
  }
