html,body{
    margin: 0;
    min-height: 100%;
    min-width: 1000px;
    background: #CBCCCB;
  }
  ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  body{
    font: 14px/1.4 'Arial';
  }
  a{
    text-decoration: none;
    color: #111C29;
  }
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .mask{
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    justify-content: center;
    align-items: center;
    .mask-wrapper{
      background: #FEFFFE;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 12px;
      .mask-header{
        position: relative;
        text-align: center;
        h1{
          margin: 20px auto;
          font-size: 20px;
        }
        .exit{
          position: absolute;
          top: 8px;
          right: 0px;
          display: flex;
          background: red;
          border-radius: 50%;
          transition: all .3s;
          &:hover{
            
          }
          .icon{
            width: 16px;
            height: 16px;
          }
        }
        
      }
      .mask-content{
        border-radius: 4px;
        width: 350px;
        height: 240px;
        background: #eeefee;
        outline: none;
        padding: 10px;
        font-size: 16px;
      }
      .mask-footer{
        margin: 10px 0 20px 0;
        display: flex;
        justify-content: space-between;
        .colors{
          list-style: none;
          display: flex;
          .color{
            width: 20px;
            height: 20px;
            margin: 4px;
          }
          .color1{
            background: #D92626;           
          }
          .color2{
            background: #0CB7B4;
          }
          .color3{ 
            background: #FFE332;
          }          
          .color4{
            background:#6FCC42 ;
          }          
          .color5{
            background: #FC8F11;
          }
          .color6{
            background:#5591d2;
          }
        }
        .confirm{
          font-size: 16px;
          padding: 5px 20px;
          background: #CBCCCB;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
 
  #header {
    position: relative;
    font-size: 14px;
    background:#F9666D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    .webTitle{
      font-size: 20px;
      margin: 20px 100px;
      font-weight: bolder;
    }
    .icon {
      width: 1.8em; height: 1.8em;
      vertical-align: -0.15em;
      fill: currentColor;
      overflow: hidden;
      margin-right: 10px;
   }
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
    }
    
    .user-area {
      margin-right: 100px;
      padding: 6px 14px;
      display: flex;
      align-items: center;

  
      li {
        span {
          color: #111C29;
          display: block;
        }
      }
  li:nth-child(1){
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
      img {
        height: 28px;
        border-radius: 50%;
      
      }
    }
    li:nth-child(2){
      border-right: 2px solid black;
      padding: 0 10px 0 6px;
      

    }
    li:nth-child(3){
      padding-left: 10px;
    }
  
    .setting{
      float: right;
      margin-left: 9px;
      display: none;
    }

    .login{
      float: right;
    }
  
  
  }
  
.add-note{
  position: absolute;
  top: 53px;
  right: 80px;
  .icon{
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: red;
    overflow: hidden;
  }

}
.contentWrapper{

}
  #content{
    margin: 20px 50px;
    position: relative;
    height: -webkit-calc(100% - 30px);
    height: calc(100vh);
  }
